<form action="/login" method="POST">
  <input type="hidden">
  <input type="text" name="user[usernamer]" placeholder="Username">
  <input type="password" name="user[password]" placeholder="Password">
  <input type="submit" value="Login">
</form>
