<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <!-- Load Vollkorn font -->
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>

<header>
    <div id ="header_title"> <img src="../img/receipt.png" id ="logo"> Save UR Receipt
    </div>
    <div id ="login"><%= erb  :'auth/login' %></div>



    <div id="login-toolbar">
      <% if current_user %>
        <a href="/logout">Logout</a>

      <% else %>
        <a href="/login" id="login-link">Login</a>
        <a href="/signup" id= "signup-link">Signup</a>
      <% end %>
    </div>
  </header>
<div class="container">
  <div id = "sidebar">

      <nav>
        <ul>
          <li>
          <a href="#">Show all Receipt</a>
          </li>
          <li>
          <a href="#">Search Receipt</a>
          </li>
          <li>
          <a href="/receipts/new">Add Receipt</a>
          </li>
          <li>
          <a href="/categories/new">Add Category</a>
          </li>
        </ul>
      </nav>

  </div>


<div id="main_display">
  <div id="signup"><%= erb :'auth/signup'%></div>
  <%= yield %>
</div>
</div>

<footer>

</footer>



</div>
</body>
</html>
